body {
  margin: 0px;
  padding: 0px;
}

.container-img {
  height: 700px;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/a09bb938-2d90-42ae-986e-5a3e4abf9e77/8eb1e781-3494-4aa4-9405-268ca6473e4c/IN-en-20231113-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  width: 100%;
  filter: brightness(50%);
}

.logo {
  position: absolute;
  z-index: 23;
  /* left: 0px; */
  top: 0px;
}
.logo-image img {
  width: 100%;
  height: 42px;
  filter: brightness(110%);
  margin-top: 12%;
  margin-left: 100%;
  
}
.right {
  /* margin-left: 450%; */
  margin-top: 2%;
  gap: 20px;
}
.dropd {
  background-color: black !important;
  color: red !important;
}
.signin {
  background-color: rgb(228, 19, 19);
  color: white;
  border-radius: 5px;
  border: none;
  height: 90%;
  width: 80px;
  margin-top: 1%;
}
.signin:hover{
  background-color: rgb(199, 39, 39);
}
.para {
  color: white;
  position: absolute;
  z-index: 23;
  width: 100%;
  /* left: 0px; */
  top: 270px;
  /* margin-left: 15%; */
}
.para h1 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}
.para p {
  font-size: 23px;
  font-family: sans-serif;
  text-align: center;
}
.para input {
  /* opacity: 0.2; */
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(63, 189, 63);
  height: 60px;
  width: 320px;
}
.para button {
  background-color: rgb(228, 25, 25);
  color: white;
  border-radius: 5px;
  border: none;
  height: 58px;
  width: 180px;
  font-size: 20px;
}
.textb {
  display: flex;
  gap: 10px;
  justify-content: center;
  
}
.body1 {
  background-color: black;
  height: 500px;
}
.title-query {
  margin-top: 12%;
  color: white;
  text-align: center;
}
.title-query h1 {
  font-weight: bold;
  font-size: 48px;
}
.title-query p {
  font-size: 24px;
}
.photo img {
  height: 381px;
  width: 508px;
  margin-top: 6%;
}
.photo {
  background-image: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png");
  position: absolute;
  z-index: 54;
  height: 391px;
  width: 558px;
}

.photo video {
  width: 500px;
  height: 250px;
  margin-left: 70px;
  margin-top: 104px;
}
.footer-items {
  background-color: black;
  color: white;
  display: flex;
}
.about {
  padding-left: 100px;
  margin-top: 15px;
}
.about li {
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  list-style: none;
}
.about h2 {
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;
}
.para2 p {
  padding-left: 50px;
}
.para2 {
  padding-left: 50px;
  padding-bottom: 20px;
}
.freq {
  color: white;
  background-color: black;
  height: 250px;
}
.textb1 input {
  /* opacity: 0.2; */
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(63, 189, 63);
  height: 60px;
  width: 320px;
}
.textb1 button {
  background-color: rgb(228, 25, 25);
  color: white;
  border-radius: 5px;
  border: none;
  height: 58px;
  width: 180px;
  font-size: 20px;
}
.textb1 {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.freq h1 {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.freq p {
  text-align: center;
}
.footer {
  background-color: black;
  color: white;
}
.body1 {
  border: 4px #232323;
  border-style: solid none;
}
.btn-primary {
  background-color: inherit;
  border-color: #757575;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
}
